.about-container {
    text-align: center;
    height: max-content;
    background-color: var(--navbar-bg-color);
}

.about-heading {
    font-size: var(--homepage-heading-font-size);
    color: var(--homepage-intro-color)
}

#about-img {
    height: 110%;
    width: 110%;
}

.about-heading {
    padding-top: 15%;
}

.about-text {
    text-align: left;
    color: var(--homepage-intro-color);
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
}

/* @media (max-width: 800px) {
    .about-container {

    }
} */