.query-container {
    text-align: center;
    height: 100vh;
    background-color: var(--navbar-bg-color);
}

.query-heading {
    font-size: var(--homepage-heading-font-size);
    color: var(--homepage-intro-color);
}