.main-container {
    background-color: var(--navbar-bg-color);
    height: max-content;
    padding-top: 5%;
}

#home-img {
    width: 80%;
    height: 80%;
}

.home-heading {
    font-size: var(--homepage-heading-font-size);
    color: var(--homepage-intro-color);
    margin-bottom: 8%;
}

.home-intro {
    font-size: var(--homepage-intro-font-size);
    color: var(--homepage-intro-color);
    margin-bottom: 8%;
}